<h1>Our Yarns</h1>

<div class="row products-index">
<% @all_products.each do |yarn| %>
<a href="/yarns/<%= yarn.id %>">
  <div class="col-md-4 well">
    <p><h3><%= yarn.name %></h3></p>
    <p><img src="<%= yarn.images.first.image_url %>"></p>
    <p><h4>$<%= yarn.price %> - <%= yarn.sale_message %></h4></p>
  </div>
</a>
<% end %>
</div>
