<h1>Sock It To Me!</h1>

<p><%=@yarn.name %></p>
<p><%=@yarn.fiber %></p>
<p><%=@yarn.color %></p>
<p>$ <%=@yarn.price %></p>
<p><img src="<%= @yarn.image %>"</img></p>

<%= link_to "Return to Main Page", "/products" %>
