

<h1><%=@yarn.name %></h1>
<p><%=@yarn.fiber %></p>
<p><%=@yarn.color %></p>
<p>$ <%=@yarn.price %></p>
<p><img src="<%= @yarn.image %>"</img></p>

<p><%= link_to "Return to Main Page", "/products" %></p>
<p><%= link_to "Edit Product", "/products/#{@yarn.id}/edit" %></p>
<p><%= link_to "Delete", "/products/#{@yarn.id}", method: :delete%></p>
